.wrapper {
    min-height: 60vh;
    height: 100%;
    padding: 20px 100px;
    background: #EBF0F3;
}

.container {
    background: #FFFFFF;
    border-radius: 5px;
}

.sort {
    font-size: 18px;
    line-height: 20px;
    padding: 20px 20px;
    border: 1px solid #dddede;
}

.btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: "Open Sans";
    padding: 0px 10px;
    margin: 20px 0px;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid rgb(13, 209, 73);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
    height: 34px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 209, 73);
}

@media (max-width: 1200px) {
    .wrapper {
        padding: 15px;
        background: #EBF0F3;
    }
}