.wrapper {
    height: 40vh;
    padding: 20px;
    background: #FFFFFF;
    border-bottom: 1px solid #dddede;
}

.content {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}

.title {
    font-family: "Ubuntu";
    font-size: 2.5em;
    text-align: center;
    color: #3c3e44;

    a {

        color: rgb(0, 175, 255);
        border-bottom: 1px solid #00AFFF;
    }
    a:hover {
        border-bottom: 0px solid black;
    }
}

.form__column {
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .title {
        font-family: "Ubuntu";
        font-size: 2em;
    }
}