.card {
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid #dddede;

  div {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    max-width: 125px;
    max-height: 36px;
    min-width: 100px;
  }

  a {
    text-decoration: none;

  }

  .btn {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid rgb(13, 209, 73);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    user-select: none;
    transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
    height: 34px;
    line-height: 32px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 209, 73);
    display: block;
    width: 100%;
  }

  .floatingRate {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: #3c3e44;
  }

  .rate {
    font-size: 18px;
    font-weight: 700;
    color: #3c3e44;
  }
}

@media (max-width: 1200px) {
  .card {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    border-top: 1px solid #dddede;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}